<div class="box-wrapper">
  <div class="event-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>{{titleText}}</mat-card-title>
      </mat-card-header>

      <form [formGroup]="baseSightForm" class="event-form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput formControlName="name" placeholder="{{'table.nameTitle' | translate}}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="description" placeholder="{{'table.description' | translate}}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="points" placeholder="{{'table.points' | translate}}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="address" placeholder="{{'table.address' | translate}}">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="latitude" placeholder="{{'table.latitude' | translate}}">
            <button mat-button matSuffix mat-icon-button (click)="openMapModal()">
              <mat-icon>edit_location</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="longitude" placeholder="{{'table.longitude' | translate}}">
            <button mat-button matSuffix mat-icon-button (click)="openMapModal()">
              <mat-icon>edit_location</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-content>

        <button type="submit" [mat-dialog-close] mat-stroked-button color="accent" (click)="onSubmit()" [disabled]="!baseSightForm.valid" class="btn-block">{{buttonText}}</button>

      </form>
    </mat-card>
  </div>
</div>
