<div>
  <br>
  <button mat-flat-button class="top-of-page-actions" color="primary" (click)=openAddForm()>Add new quiz</button>
  <br>
  <mat-form-field class="top-of-page-actions">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
  </mat-form-field>
  <br>
</div>

<div class="table-wrapper">
  <div class="table-scroll">
    <table mat-table [dataSource]="quizTemplatesDataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let quizTemplate">{{quizTemplate.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{quizTemplate.title}} </td>
      </ng-container>

      <ng-container matColumnDef="sightName">
        <th mat-header-cell *matHeaderCellDef> Assigned Sight </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{quizTemplate.sightName}} </td>
      </ng-container>

      <ng-container matColumnDef="questions">
        <th mat-header-cell *matHeaderCellDef> Questions </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{getQuestionTitles(quizTemplate).join("\n")}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let quizTemplate">
          <button mat-flat-button color="primary" (click)="openEditForm(quizTemplate)">Edit</button>
          &nbsp;
          <button mat-flat-button color="warn" class="actionButtons" (click)="openPreviewForm(quizTemplate)">Preview</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<mat-paginator #sightPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40]">></mat-paginator>
