<div>
  <br>
  <button mat-flat-button class="top-of-page-actions" color="primary" (click)=openAddForm()>{{'table.addQuiz' | translate}}</button>
  <br>
  <mat-form-field class="top-of-page-actions">
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'table.search' | translate}}">
  </mat-form-field>
  <br>
</div>

<div class="table-wrapper">
  <div class="table-scroll">
    <table #firstTableSort="matSort" mat-table [dataSource]="quizTemplatesDataSource" matSort matSortActive="id" matSortDirection="asc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let quizTemplate">{{quizTemplate.id}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.title' | translate}} </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{quizTemplate.title}} </td>
      </ng-container>

      <ng-container matColumnDef="sightName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.assigned' | translate}} </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{quizTemplate.sightName}} </td>
      </ng-container>

      <ng-container matColumnDef="questions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.questions' | translate}} </th>
        <td mat-cell *matCellDef="let quizTemplate"> {{getQuestionTitles(quizTemplate).join("\n")}} </td>
      </ng-container>

      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef> {{'table.preview' | translate}} </th>
        <td mat-cell *matCellDef="let quizTemplate">
          <button mat-flat-button color="warn" class="actionButtons" (click)="openPreviewForm(quizTemplate)">{{'table.preview' | translate}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'table.actions' | translate}} </th>
        <td mat-cell *matCellDef="let quizTemplate">
          <button mat-flat-button color="primary" (click)="openEditForm(quizTemplate)">{{'table.edit' | translate}}</button>
          &nbsp;
          <button mat-flat-button color="warn" class="actionButtons" (click)="showQuizDeleteConfirm(quizTemplate)">{{'table.delete' | translate}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsQuiz"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsQuiz;"></tr>
    </table>
  </div>
</div>
<mat-paginator #quizPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40]">></mat-paginator>

<div>
  <br>
  <button mat-flat-button class="top-of-page-actions" color="primary" (click)=openNewQuestionForm()>{{'table.addQuestion' | translate}}</button>
  <br>
  <mat-form-field class="top-of-page-actions">
    <input matInput (keyup)="applyQuestionFilter($event)" placeholder="{{'table.search' | translate}}">
  </mat-form-field>
  <br>
</div>

<div class="table-wrapper">
  <div class="table-scroll">
    <table #secondTableSort="matSort" mat-table [dataSource]="questionTemplatesDataSource" matSort matSortActive="id" matSortDirection="asc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let question">{{question.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.nameTitle' | translate}} </th>
        <td mat-cell *matCellDef="let question"> {{question.name}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'table.question' | translate}} </th>
        <td mat-cell *matCellDef="let question"> {{question.title}} </td>
      </ng-container>

      <ng-container matColumnDef="choices">
        <th mat-header-cell *matHeaderCellDef> {{'table.choices' | translate}} </th>
        <td mat-cell *matCellDef="let question"> {{getQuestionChoices(question).join("\n")}} </td>
      </ng-container>

      <ng-container matColumnDef="correct">
        <th mat-header-cell *matHeaderCellDef> {{'table.correct' | translate}} </th>
        <td mat-cell *matCellDef="let question"> {{getQuestionCorrectAnswer(question)}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> {{'table.points' | translate}} </th>
        <td mat-cell *matCellDef="let question"> {{question.points}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'table.actions' | translate}} </th>
        <td mat-cell *matCellDef="let question">
          <button mat-flat-button color="primary" (click)="openEditQuestionForm(question)">{{'table.edit' | translate}}</button>
          &nbsp;
          <button mat-flat-button color="warn" class="actionButtons" (click)="showQuestionDeleteConfirm(question)">{{'table.delete' | translate}}</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsQuestions"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsQuestions;"></tr>
    </table>
  </div>
</div>
<mat-paginator #questionPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40]">></mat-paginator>


