<div class="box-wrapper">
  <div class="edit-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Update user</mat-card-title>
      </mat-card-header>

      <form [formGroup]="editUserForm" class="edit-form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="surname" placeholder="Surname">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" formControlName="birthdayDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="email" placeholder="name@mail.com">
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="accent" (click)="onSubmit()" [disabled]="!editUserForm.valid" class="btn-block">Update</button>
      </form>
    </mat-card>
  </div>
</div>
<br />
<div class="box-wrapper">
  <div class="edit-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Update password</mat-card-title>
      </mat-card-header>

      <form [formGroup]="editUserPasswordForm" class="edit-form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Old password</mat-label>
            <input matInput type="password" formControlName="oldPassword">
            <mat-error *ngIf="editUserPasswordForm.controls.oldPassword.invalid">
              Password must be atleast 6 symbols
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="editUserPasswordForm.controls.newPassword.invalid">
              Password must be atleast 6 symbols
            </mat-error>
          </mat-form-field>

        </mat-card-content>

        <button type="submit" mat-stroked-button color="accent" (click)="onSubmitPassword()" [disabled]="!editUserPasswordForm.valid" class="btn-block">Update</button>

      </form>
    </mat-card>
  </div>
</div>
